.ui-video-control {
	background-color:#999999;
	height: 40px;
	bottom:2%;
	left:0.5%;
	right:0.5%;
	position: absolute;
	opacity: .5;
	overflow:visible;
	z-index:999;
}
.ui-video-control-vign {
	background-color:#996699;
	height: 20px;
	bottom:1%;
	left:1%;
	right:1%;
	position: absolute;
	opacity: .7;
	overflow:visible;
	z-index:999;
}


.ui-video-progress {
	font-family: monospace;
	position: absolute;
	right: 10px;
	top: 4px;
	font-style:bold;
	color:white;
	background-color:#333333
}

.ui-video-progress-vign {
	font-family: monospace;
	position: absolute;
	right: 10px;
	top: 1px;
	font-size: 10px;
	color:blue;
}




.ui-video-play {
	position: absolute;
	background-image:url(play.png);
	width: 28px; height: 23px;
	left: 10px;
	top: 2px;
}

.ui-video-pause {
	position: absolute;
	background-image:url(pause.png);
	width: 28px; height: 23px;
	left: 10px;
	top: 2px;
}

.ui-video-play-vign {
	position: absolute;
	left: 2px;
	bottom: 0px;
}
.ui-video-pause-vign {
	position: absolute;
	left: 2px;
	bottom: 0px;
}

.ui-video-stop {
	position: absolute;
	background-image:url(stop.png);
	width: 28px; height: 23px;
	left: 39px;
	top: 2px;
}
.ui-video-stop-vign {
	position: absolute;
	left: 13px;
	bottom: 0px;;
}

.ui-video-playLoop {
	position: absolute;
	background-image:url(loop.png);
	width: 28px; height: 23px;
	left: 68px;
	top: 2px;
}
.ui-video-noplayLoop {
	position: absolute;
	background-image:url(noloop.png);
	width: 28px; height: 23px;
	left: 68px;
	top: 2px;
}
.ui-video-playLoop-vign {
	visibility:hidden;
}

.ui-video-fragmentLoop {
	position: absolute;
	background-image:url(closefragment.png);
	width: 28px; height: 23px;
	left: 97px;
	top: 2px;
}
.ui-video-fragmentLoop-vign {
	position: absolute;
	left: 13px;
	bottom: 0px;
}


.ui-video-mute {
	position: absolute;
	background-image:url(volume.png);
	width: 23px; height: 18px;
	left: 1px;
	bottom: 0px;
}

.ui-video-unmute {
	position: absolute;
	background-image:url(muted.png);
	width: 23px; height: 18px;
	left: 1px;
	bottom: 0px;
}
.ui-video-mute-vign {
	position: absolute;
	left: 26px;
	bottom: 0px;
}


.ui-video-volume-slider {
	position: absolute;
	left: 23px;
	bottom: 3px;
	width: 70px;
}
.ui-video-volume-slider-vign {
	position: absolute;
	left: 45px;
	bottom: 4px;
	width: 40px;
}

.ui-video-fragment-close {
	visibility:hidden;
}

.ui-video-fragment-close-vign {
	position: absolute;
	bottom: -2px;
	right: 5px;
}
.ui-video-timeLiner-slider {
	position: absolute;
	left:105px;
	right: 10px;
	bottom: 3px;
}
.ui-video-timeLiner-slider-vign {
	position: absolute;
	left:100px;
	right: 30px;
	bottom: 4px;
}

.ui-video-timeLiner-slider-hover {
	font-family: monospace;
	position: absolute;
	font-size: 11px;
	color:red;
}

.ui-video-timeLiner-slider, .ui-video-volume-slider {
	height: .45em;
}
.ui-video-timeLiner-slider-vign, .ui-video-volume-slider-vign {
	height: .1em;
}

.ui-video-timeLiner-slider .ui-slider-range { background: #000033; }
.ui-video-volume-slider .ui-slider-range { background: #666666; }

.ui-video-timeLiner-slider-vign .ui-slider-range { background: #000033; }
.ui-video-volume-slider-vign .ui-slider-range { background: #666666; }



.ui-video-timeLiner-slider .ui-slider-handle{
	width: .6em;
	height: .48em;
	top: -.1em;
	margin-left: -.3em;
	cursor: pointer;
	background-image:none;
	background-color:#000099;
}
.ui-video-volume-slider .ui-slider-handle {
	width: .6em;
	height: .48em;
	top: -.1em;
	margin-left: -.3em;
	cursor: pointer;
	background-image:none;
	background-color:black;
}

.ui-video-timeLiner-slider-vign .ui-slider-handle, .ui-video-volume-slider-vign .ui-slider-handle {
	width: .2em;
	height: .3em;
	top: -.2em;
	margin-left: -.3em;
	cursor: pointer;
}


.ui-video-buffer-status {
	position: absolute;
	width: 0;
	top: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	opacity: .2;
	background: #000;
}


.ui-video-waiting-container {
	position: absolute;
	font-size:11;
	font-weight:bold;
	overflow:visible;
	text-align:center;
	margin: 0;
	padding: 5 5;
	border: 2 2;
}

.ui-video-widget {
	position: relative;
	margin:0% !important;
	padding:0% !important;

    text-align: center;
}

.ui-dialog .ui-dialog-content { border: 0; padding: 0 !important;margin:0% !important;  overflow: auto; background-color: #C1CDCD ;}

.ui-dialog .ui-dialog-titlebar { padding: .3em .0em .0em 0em; position: relative; height:10 !important; text-align:left;background-image: none;background-color: #B9D3EE ;border-color:#42426F}
.ui-dialog .ui-dialog-title { float: right; margin-top:-5; font-size:12px; color:#2F4F4F; font-style: bold;font-variant: small-caps; }




.ui-dialog .ui-dialog-titlebar-toggle {float: left; left:.3em; top: 70%; width: 19px; margin: -6px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-toggle span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-toggle:hover, .ui-dialog .ui-dialog-titlebar-toggle:focus { padding: 0; }

.ui-dialog .ui-dialog-titlebar-fixonscreen{float: left;left:.23em; top: 50%; width: 19px; margin: -6px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-fixonscreen span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-fixonscreen:hover, .ui-dialog .ui-dialog-titlebar-fixonscreen:focus { padding: 0; }

.ui-dialog .ui-dialog-titlebar-nofixonscreen {float: left;left:.43em; top: 50%; width: 19px; margin: -6px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-nofixonscreen span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-nofixonscreen:hover, .ui-dialog .ui-dialog-titlebar-nofixonscreen:focus { padding: 0; }

.ui-dialog .ui-dialog-titlebar-stickonwindow {float: left; left:.63em;top: 50%; width: 19px; margin: -6px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-stickonwindow span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-stickonwindow:hover, .ui-dialog .ui-dialog-titlebar-stickonwindow:focus { padding: 0; }

.ui-dialog .ui-dialog-titlebar-nostickonwindow{float: left; left:.83em; top: 50%; width: 19px; margin: -6px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-nostickonwindow span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-nostickonwindow:hover, .ui-dialog .ui-dialog-titlebar-nostickonwindow:focus { padding: 0; }
.ui-dialog-fragment-title{position:absolute; top:30; left:10;width:auto;height:auto;font-size:12; color:white;overflow:visible;}

/* SCREENSHOT OVERLAY */
.image-overlay { list-style: none; text-align: left; }
.image-overlay li { display: inline; }
.image-overlay a:link, .image-overlay a:visited, .image-overlay a:hover, .image-overlay a:active { text-decoration: none; }
.image-overlay a:link img, .image-overlay a:visited img, .image-overlay a:hover img, .image-overlay a:active img { border: none; }

.image-overlay
{
    margin: 9px;
    float: left;
    background: #fff;
    border: solid 2px;
    overflow: hidden;
    position: relative;
}
.image-overlay img
{
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}
.image-overlay .caption
{
    float: left;
    position: absolute;
    font-size: 14px;
    background-color: #000;
    width: 100%;
    height:auto;
    cursor: pointer;
	text-align: center;
	opacity: .85;

}
.image-overlay .caption h1, .image-overlay .caption h2, .image-overlay .caption h3,
.image-overlay .caption h4, .image-overlay .caption h5, .image-overlay .caption h6
{
	margin: 10px 0 10px 2px;
    font-size: 15px;
    font-weight: bold;
	padding: 0 0 0 5px;
}
.image-overlay p
{
	text-indent: 0;
	margin: 10px;
	font-size: 1em;
}

.screenshot-overlay-player {
	display:none;
}
.screenshot-overlay-player img{
	display:none;
}
.screenshot-overlay-menu {
	display:none;
	position:absolute;
	border:none;
	height:55;
	top:25%;
	left:17%;
	width:130;
	border:thin;
	-moz-border-radius: 10px;
	padding: 2px;
	text-align:left;
	background:url(bg.png) repeat;
}
.screenshot-overlay-menu img{
	width:110;
	height:30;
	padding:0;
	border:none;
	cursor:pointer;
	opacity:1;
}
/*  ////////////////////////////////////////////////////////////////////////////// */

/*  ////////////////////////SAMPLE CONTAINER///////////////////////////////////// */


img.screenshot {
    border:1px solid #FFCCCC;
    height:138px;
    width:184px;
}

img.half_screenshot {
    border:1px solid #FFCCCC;
    height:60px;
    width:80px;
}

.sampleContainer{
    border:1px solid #FFCCCC;
    height:138px !important;
    width:184px !important;
}

.player_minimized {
    background-color:#CCC;
    border:thin;
    -moz-border-radius: 10px;
    padding: 10px;
    position: fixed;
    bottom:15;
    right:15;
    width: 20;
    color: black;
    font-size: 0.7em;
}

.activeTranscript {
    background-color: #dddddd;
}

/* Resize handler style redefinition */

.ui-resizable-s { cursor: s-resize; height: 5px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 17px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 17px; left: -5px; top: 0; height: 100%; }

