#fullscreen_player {
    color: #fff;
    background-color: #000;
}

.advene_drag_icon {
    color: #fff;
    background-color: #000;
}

.black_on_black {
    color: #000;
    background-color: #000;
}

.advene_caption {
    color: #fff;
    background-color: #000;
}

.restrict_playing_button {
    margin: 0;
    padding: 0;
}
